img {
  width: 30px;
  height: 30px;
  margin-right: 5px;
}

header div:nth-child(1) {
  display: flex;
  background-color: #333333;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}

header h2 {
  color: white;
}

.header-init {
  display: flex;
  margin-left: 185px;
}

.header-init img {
  width: 30px;
  height: 30px;
  margin: 25px 10px;
}
